DISCORD_WEBHOOK_URL=
ENTITY_IDS=
REDISQ_URL=https://zkillredisq.stream/listen.php?queueID=
TESTING=false

# The following is an optional field, the code will default to en
LOCALE=en

# The following values are for the discord bot within zkillbot.js
# REDISQ_URL from above is used
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
CLIENT_ID=
INVITE
MONGO_URI=
MONGO_DB=

# Set to development and the bot will assign GUILD_ID too for instant slash command updates
NODE_ENV=
GUILD_ID=
