# Set to development and the bot will assign GUILD_ID too for instant slash command updates
NODE_ENV=
# Be sure to invite the bot to your server first.... (see INVITE below)
GUILD_ID=

# Discord 
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
CLIENT_ID=
INVITE=

# MongoDb Connection
MONGO_URI=
# MongoDb Database
MONGO_DB=

